- @page_title = "Advertising"
.w960
	.shadow.api
		%h1.header Advertising
		.rowsep
		%p
			There's two 468x60 advertising slots available on the top left and right. If you're interested, email #{link_to("shadow@sc2ranks.com", "mailto:shadow@sc2ranks.com")}. You can pay based on impressions, clicks, frequency capping and so on, the system is pretty flexible on your options for displaying advertisements. 
