- @page_title = "iPhone appplication"
.w960
	.shadow.api
		%h1.header iTunes
		.rowsep
		%p
			SC2 Ranks is now available for free on iPhones!
		%p
			#{link_to(image_tag("appstore.png"), "")}

.spacer
.w960
	.shadow.api
		%h1.header Can't find character
		.rowsep
		%p
			If you cannot find your character on the mobile application, or on the site, you can manually add the character yourself.
		%p
			Step 1) Login to #{link_to "http://us.battle.net/sc2/en/", "http://us.battle.net/sc2/en/"}
			<br />
			Step 2) You will see your character on the top right, click the name and go to the profile.
			<br />
			Step 3) Copy the URL and go to the "Battle.NET URL" tab on SC2Ranks, paste it into the input box and click "View".
			<br />
			Step 4) You're done! Once your profile shows up on the site you can find it on the mobile application.
			